body{
    background-color: #3a424f;
    color: #fff;
    margin: 0px;
    font-family: 'Barlow', sans-serif;
}

h3{
	font-size:30px;
	margin-left:20%;
	color: #b8731a;
}

p{
    font-size: 20px;
}

a{
	text-decoration: none;
	color: #fff;
}

a:hover{
	color: #d48c2f;
}

.elementMenu > a{
    float: left;
    padding:7px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

.elementMenu > a:hover {
	color: #fff;
    background-color: #87591c;
    cursor: pointer;
}

.nagłówek{
    text-align: center;
}

.menu{
	font-size: 30px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #d48c2f;
    box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family: 'Koulen', cursive;
    top:0;
    position: sticky;
}

#szare{
    background-color: #67768f;
}

#oStronie{
	background-color: #909bad;
	margin:20%;
	text-align: center;
}
