body{
    background-color: #3a424f;
    color: #fff;
    margin: 0px;
    font-family: 'Barlow', sans-serif;
	text-align: center;
}

h3{
	font-size:30px;
	color: #b8731a;
}

p{
    font-size: 20px;
}

a{
	text-decoration-style: wavy;
	color: #fff;
}

a:hover{
	color: #d48c2f;
}

fieldset{
	width:200px;
	margin:auto;
}

button{
	height:100%;
	width:100%;
	font-size: 22px;
	font-family: 'Koulen', cursive;
}

.elementMenu > a{
	text-decoration: none;
    float: left;
    padding:7px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

.elementMenu > a:hover {
	color: #fff;
    background-color: #87591c;
    cursor: pointer;
}

.nagłówek{
    text-align: center;
}

.menu{
	font-size: 30px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #d48c2f;
    box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family: 'Koulen', cursive;
    top:0;
    position: sticky;
}

.infoDiv{
	background-color: #909bad;
	width:50%;
	text-align: center;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	padding-top: 10px;
}

.ciemnyDiv{
	background-color: #1a1d24;
	width:50%;
	text-align: center;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	padding-top: 10px;
}

.jasnyDiv{
	background-color: #2a2e36;
	width:50%;
	text-align: center;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	padding-top: 10px;
}

.kod{
	font-size: 17px;
}

#szare{
    background-color: #67768f;
}

#stich{
	width:200px;
}

#kalkulator{
	width:50%;
	height:400px;
	margin-left:25%;
}

#pKalk{
	height:30px;
	font-size: 18px;
}

.stich::after {
  content: "";
  clear: both;
  display: table;
}


